# API
PORT=8080
ALLOWED_ORIGINS=http://localhost:5050,http://localhost:8080

# DATABASE
DB_NAME="teo"
MONGODB_URI="mongodb://localhost:27017"

# TELEGRAM
OWNER_ONLY=12345
BOT_TOKEN=""

# OLLAMA
DEFAULT_MODEL="qwen2.5:1.5b-instruct"
OLLAMA_BASE_URL="http://localhost:11434"